body {
    background: url(img/main.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 70%;
    height: 65%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.52);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s ease-in-out;
    color: #E7E5DD;
    border-radius: 25px;
    border: 3px solid #E7E5DD;
}


a:hover {
    color: #2c2c2c;
    background: #E7E5DD;
    border: 3px solid #E7E5DD;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    justify-content: center;
}

input {
    width: 85%;
    color: #2c2c2c;
    padding: 12px 20px;
    border: 2px solid #E7E5DD;
    border-radius: 10px;
    font-size: 16px;
}

input:focus {
    border-color: #bfbcb6;
    outline: none;
}


button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #2c2c2c;
    background-color: #E7E5DD;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    color: #E7E5DD;
    background-color: #2c2c2c;
    border-color: #bfbcb6;
}


table {
    width: 85%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.52); /* Тень */
}


th {
    text-align: center;
    background-color: rgba(231, 229, 221, 0.5);
    color: #E7E5DD;
    padding: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(231, 229, 221, 0.3);
}


td {
    text-align: center;
    padding: 15px;
    color: #E7E5DD;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid rgba(231, 229, 221, 0.2);
}


tr:last-child td {
    border-bottom: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



